.Sidebar_icons {
  font-size: 2.3rem;
  text-align: center;
  margin-top: 1rem;
  svg {
    width: 20.01px;
    height: 18.88px;
  }
}
.Sidebar_title {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* Text color */

  color: #231f20;
}
